@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora:wght@500;600&family=Poppins:wght@400;500&display=swap');

:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: rgb(213, 110, 63);
    --first-color-alt: rgb(211, 85, 26);
    --title-color: rgb(44, 36, 32);
    --text-color: rgb(104, 84, 75);
    --text-color-light: rgb(149, 137, 131);
    --body-color: rgb(255, 241, 235);
    --container-color: rgb(255, 245, 240);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --title-font: "Lora", serif;
    --subtitle-font: "Dancing Script", cursive;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}


/* thema - 해,달 */
.nav_buttons {
    display: flex;
    align-items: center;
    position: absolute;
    right: 1.5rem; top: 1rem;
    gap: 1rem;
}
.nav_toggle {
    cursor: pointer;
    font-size: 1.25rem;
}
body.dark-thema { 
    /* 달 버튼누르면,
       js에서 추가한 .dark-thema 클래스명 붙으면 배경화면 어둡게 변경됨 */
    --body-color: rgb(23, 20, 18);

    --first-color: rgb(216, 123, 79);
    --first-color-alt: rgb(213, 110, 63);
    --title-color: rgb(226, 213, 208);
    --text-color: rgb(180, 161, 151);
    --body-color: rgb(23, 20, 18);
    --container-color: rgb(28, 25, 23);
}
.dark-thema .bg-header, .dark-thema .nav_menu {
    box-shadow: 0 2px 8px rgba(17, 8, 4, 0.5);
}
.dark-thema::-webkit-scrollbar {
    /* can i use 사이트에서 사용가능 확인하니, 앞에 -webkit- 붙여서 사용하면 scrollbar 사용가능  */
    background-color: rgb(41,47,35); /* 스크롤바 색상변경 */
}
.dark-thema::-webkit-scrollbar-thumb {
    background-color: rgb(69, 62, 59); /* 스크롤바 막대 색상변경 */
}
.dark-thema::-webkit-scrollbar-thumb:hover {
    background-color: rgb(97, 87, 82);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {scroll-behavior: smooth;}
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}
h1,h2,h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}
ul,li {
    list-style: none;
}
a {text-decoration: none;}
img {width: 100%;}
.container {
    max-width: 1024px;
    margin: 0 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}
.flex {
    display: flex;
    gap: 1.5rem
}

.section {
    padding: 5rem 0 1rem;
}
.section_title {
    font-size: var(--h1-font-size);
    font-family: var(--title-font);
    margin-bottom: 1.5rem;
}
.section_subtitle {
    display: block;
    font-size: var(--h2-font-size);
    font-family: var(--subtitle-font);
    color: var(--first-color);
    margin-bottom: 0.5rem;
}
.section_title,.section_subtitle {
    text-align: center;
}
.main {
    overflow: hidden;
}




/* header */
.header {
    position: fixed;
    width: 100%;
    background-color: var(--body-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: 0.3s;
}
.header .nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_logo {
    display: flex;
    color: var(--title-color);
}
.header .nav .nav_logo  {
    align-items: center;
    gap: 1.5rem;
    font-family: var(--title-font);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
}
.header .nav .nav_logo:hover {
    color: var(--first-color);
    transition: 0.3s;
}
.header .nav .nav_logo img {
    width: 25px;
}



/* ------------------ 미디어쿼리 -------------------- */
@media (max-width:767px){
    .nav_menu {
        position: fixed;
        top: -100%; left: 0;
        background-color: var(--body-color);
        width: 100%;
        box-shadow: 0 8px 20px rgba(100,47,22,0.1);
        padding-block: 3.5rem; /* 상,하 내부여백 */
        transition: 0.4s;
        z-index: 100;
    }
}

.nav_menu.show-menu {top: 0;} /* 메뉴 내려오기(js) */

.nav_list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}
.nav_link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: 0.3s;
}
.nav_link:hover {color: var(--first-color);}
.nav_img-1, .nav_img-2  {
    position: absolute;
    opacity: 0.2;
}
.nav_img-1 {
    width: 100px;
    left: -2rem; top: 0.75rem;
    transform: rotate(165deg);
}
.nav_img-2 {
    width: 50px;
    right: -1rem; bottom: 0;
    transform: rotate(-30deg);
}

.nav_close {
    position: absolute;
    top: 1rem; right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}


/* home */
.home {position: relative;}
.home_container {
    padding-top: 2rem;
    gap: 3rem;
}
.home_img {
    width: 300px;
    justify-self: center;
}
.home_title {
    font-size: var(--biggest-font-size);
    font-family: var(--title-font);
    margin-bottom: 1rem;
}
.home_title div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem; /* 싸고있는 div에 grid 줘서 쓴 태그 (=좌우마진) */
}
.home_title img {width: 40px;}
.home_data {text-align: center;}
.home_description {
    padding: 0 1rem;
    margin-bottom: 2.5rem;
}

.bg-header {
    box-shadow: 0 2px 8px rgba(100, 47, 22, 0.1);
}


/* button */
.button {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    background-color: var(--first-color);
    padding: 1rem 1.5rem;
    border-radius: 4rem;
    color: #fff;
    font-weight: var(--font-medium);
    transition: 0.3s;
}
.button:hover {
    background-color: var(--first-color-alt);
}
.button i {
    font-size: 1.5rem;
    transition: 0.3s;
}
.button:hover i {
    transform: translateX(0.25rem);
}
.home_leaf-1 {
    width: 80px;
    top: 8rem; left: -1rem;
    transform: rotate(90deg);
}
.home_leaf-2 {
    width: 100px;
    right: -2rem; bottom: 1rem;
    transform: rotate(-15deg);
}

.home_leaf-1, .home_leaf-2 {
    position: absolute;
    opacity: 0.2;
}



/* ----------about-------------- */
.about {position: relative;}
.about_container {gap: 3rem;}
.about_date {text-align: center;}
.about_title img {
    width: 30px;
}
.about_title div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; /* flex, grid 둘 다 사용가능 */
}
.about_img {
    width: 300px;
    justify-self: center;
}
.about_leaf {
    width: 100px;
    opacity: 0.2;
    position: absolute;
    bottom: 12rem; right: -1.5rem;
    transform: rotate(-15deg);
}


/* popular */
.popular_container {
    grid-template-columns: 250px;
    justify-content: center;
    gap: 5.5rem;
    padding-top: 4rem;
}
.popular_container .popular_card {
    position: relative;
    background-color: var(--container-color);
    text-align: center;
    box-shadow: 0 8px 20px rgba(201, 94, 44, 0.08);
    border-radius: 1rem;
    padding: 7rem 2rem 1.5rem;
}
.popular_img {
    width: 220px;
    margin: 0 auto;
    position: absolute;
    inset: 0;
    top: -2.5rem;
    transition: 0.4s;
}
.popular_card:hover .popular_img {
    transform: translateY(-0.25rem);
}
.popular_name {
    font-size: var(--h3-font-size);
    font-family: var(--title-font);
    margin-bottom: 0.25rem;
}
.popular_description {
    display: block;
    font-size: var(--smaller-font-size);
    margin-bottom: 1rem;
}
.popular_price {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
}
.popular_button {
    border: none;
    color: #fff;
    background-color: var(--first-color);
    border-radius: 50%;
    padding: 6px;
    position: absolute;
    bottom: 1.25rem; left: 1.25rem;
    box-shadow: 0 4px 20px rgba(84,39,18,0.2);
    transition: 0.3s;
}
.popular_button:hover {
    background-color: var(--first-color-alt);
}


/* recently */
.recently {position: relative;}
.recently_container {gap: 4rem;}
.recently_data {text-align: center;}
.recently_description {margin-bottom: 2rem;}
.recently_data-img {
    width: 25px;
    position: absolute;
    top: 3.5rem; right: 1.5rem;
    transform: rotate(30deg);
}
.recently_img {
    width: 300px;
    justify-self: center;
}
.recently__leaf-1,
.recently__leaf-2 {
    position: absolute;
    opacity: 0.2;
}
.recently__leaf-1 {
    width: 80px;
    top: 17rem;
    left: -1rem;
    transform: rotate(15deg);
}
.recently__leaf-2 {
    width: 40px;
    right: -1rem;
    bottom: 12rem;
    transform: rotate(-30deg);
}